<?xml version="1.0" ?>

<robot name="lite6_gripper">
  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="Silver">
    <color rgba="0.753 0.753 0.753 1.0"/>
  </material>
  <joint name="gripper_fix" type="fixed">
    <parent link="link_eef"/>
    <child link="uflite_gripper_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <link name="uflite_gripper_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.030"/>
      <mass value="0.28"/>
      <inertia ixx="0.00047106" ixy="3.9292E-07" ixz="2.6537E-06" iyy="0.00033072" iyz="-1.0975E-05" izz="0.00025642"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://xarm_description/meshes/gripper/lite/visual/gripper_lite.stl"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="White"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://xarm_description/meshes/gripper/lite/collision/gripper_lite.stl"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>
  <link name="link_tcp"/>
  <joint name="joint_tcp" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.0836"/>
    <parent link="uflite_gripper_link"/>
    <child link="link_tcp"/>
  </joint>
</robot>
